.container{

    width:min(92%, var(--container));

    margin:auto;

}

.section{

    padding:7rem 0;

}

.section-glass{

    background:rgba(255,253,248,.58);

    backdrop-filter:blur(26px);

    -webkit-backdrop-filter:blur(26px);

}

.btn{

    border:none;

    cursor:pointer;

    padding:14px 28px;

    border-radius:var(--radius-md);

    transition:var(--transition);

}

.btn-primary{

    background:var(--primary);

    color:var(--black);

}

.btn-primary:hover{

    transform:translateY(-3px);

    box-shadow:var(--shadow-md);

}

.btn-secondary{

    background:var(--secondary);

    color:white;

}
